# General Task

An e-commerce shop would like to onboard new suppliers efficiently. To enable the onboarding process, the customer needs
us to integrate product data from suppliers in various formats and styles into the pre-defined data structure of their e-commerce
shop application.

# 3. Integration

Data Integration is to transform the supplier data with a specific data schema into a new dataset with target data schema,
such as to:
- keep any attributes that you can map to the target schema
- discard attributes not mapped to the target schema
- keep the number of records as unchanged

Input: normalised supplier data


Output: integrated supplier data

In [70]:
import pandas as pd
pd.set_option('display.max_columns', 500)
import matplotlib.pyplot as plt
import xlsxwriter

%matplotlib inline
%config InlineBackend.figure_format = 'svg'

### 3.1 Load dataset from part 2

In [71]:
target_file = '../data/Target Data.xlsx'
data_tar = pd.read_excel(target_file)
data_tar.head()

,carType,color,condition,currency,drive,city,country,make,manufacture_year,mileage,mileage_unit,model,model_variant,price_on_request,type,zip,manufacture_month,fuel_consumption_unit
0,Convertible / Roadster,White,Used,USD,LHD,Zuzwil,CH,Toyota,1983,0.0,kilometer,Celica,2800 i Supra,False,car,NaN,3.0,l_km_consumption
1,Convertible / Roadster,Other,Original Condition,USD,LHD,London,GB,Ferrari,2001,0.0,mile,550,NaN,True,car,NaN,NaN,NaN
2,Convertible / Roadster,White,Used,USD,LHD,Scotts Valley,US,Porsche,1989,0.0,mile,"911 ""G""",NaN,True,car,NaN,NaN,NaN
3,Convertible / Roadster,Blue,Used,USD,LHD,London,GB,Rolls-Royce,1961,0.0,kilometer,Silver Cloud II,NaN,False,car,NaN,NaN,NaN
4,Convertible / Roadster,Black,Original Condition,USD,LHD,Hong Kong,HK,Gumpert,2010,0.0,kilometer,Apollo,Apollo S 800hp,False,car,NaN,NaN,NaN

In [72]:
file = './output/normalisation/normalisation.csv'
data = pd.read_csv(file, index_col=0)
data.head()

,BodyTypeText,BodyColorText,ConditionTypeText,City,MakeText,ModelText,ModelTypeText,DriveTypeText,TransmissionTypeText,FirstRegMonth,FirstRegYear,Km,Ccm,Co2EmissionText,ConsumptionRatingText,ConsumptionTotalText,Doors,FuelTypeText,Hp,InteriorColorText,Properties,Seats,TypeName,BodyColorText_new,BodyColorText_trans,color,make,Country
ID,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,Limousine,anthrazit,Occasion,Zuzwil,MERCEDES-BENZ,E 320,E 320 Elégance 4-Matic,Allrad,Automat,1,1999,31900,3199,275 g/km,NaN,11.5 l/100km,4,Benzin,224,grau,"""Ab MFK""",5,E 320 Elégance 4-Matic,anthrazit,Anthracite,Other,Mercedes-Benz,CH
2,Kombi,anthrazit,Occasion,Zuzwil,AUDI,RS6,RS6 Avant 5.0 V10 quattro,Allrad,Automat sequentiell,7,2008,25400,4991,333 g/km,G,14.0 l/100km,5,Benzin,580,NaN,"""Ab MFK""",5,RS6 Avant 5.0 V10 quattro,anthrazit,Anthracite,Other,Audi,CH
3,Kombi,anthrazit,Occasion,Zuzwil,AUDI,RS6,RS6 Avant quattro,Allrad,Automat sequentiell,10,2002,38500,4172,350 g/km,G,14.6 l/100km,5,Benzin,450,beige,"""Ab MFK""",5,RS6 Avant quattro,anthrazit,Anthracite,Other,Audi,CH
4,Coupé,anthrazit,Occasion,Zuzwil,CHEVROLET,CORVETTE,Corvette Z06,Hinterradantrieb,Schaltgetriebe manuell,6,2015,200,6162,291 g/km,G,12.7 l/100km,2,Benzin,660,schwarz,"""Ab MFK"", ""Direkt-/Parallelimport""",2,Corvette Z06,anthrazit,Anthracite,Other,Chevrolet,CH
5,SUV / Geländewagen,anthrazit,Occasion,Zuzwil,PORSCHE,CAYENNE,Cayenne Turbo Techart Magnum Kit,Allrad,Automat sequentiell,1,2010,2900,4806,270 g/km,G,11.5 l/100km,5,Benzin,500,schwarz,"""Ab MFK""",5,Cayenne Turbo Techart Magnum Kit,anthrazit,Anthracite,Other,Porsche,CH

### 3.2. Identify attributes that can be mapped to the target schema

Here we have to assume that the attributes we identified in the normalisation step were normalised, even though they are not, because we did not carry out the normalisation but only explained how we would do it.

In [73]:
data.columns.tolist()

['BodyTypeText',
 'BodyColorText',
 'ConditionTypeText',
 'City',
 'MakeText',
 'ModelText',
 'ModelTypeText',
 'DriveTypeText',
 'TransmissionTypeText',
 'FirstRegMonth',
 'FirstRegYear',
 'Km',
 'Ccm',
 'Co2EmissionText',
 'ConsumptionRatingText',
 'ConsumptionTotalText',
 'Doors',
 'FuelTypeText',
 'Hp',
 'InteriorColorText',
 'Properties',
 'Seats',
 'TypeName',
 'BodyColorText_new',
 'BodyColorText_trans',
 'color',
 'make',
 'Country']

In [74]:
data_tar.columns.tolist()

['carType',
 'color',
 'condition',
 'currency',
 'drive',
 'city',
 'country',
 'make',
 'manufacture_year',
 'mileage',
 'mileage_unit',
 'model',
 'model_variant',
 'price_on_request',
 'type',
 'zip',
 'manufacture_month',
 'fuel_consumption_unit']

In [75]:
data_rn = data.rename({
    'BodyTypeText': "carType",               # assumed normalized
    'ConditionTypeText': "condition",        # assumed normalized
    'City': 'city',                        
    'ModelText': 'model',                    # assumed normalized
    'ModelTypeText': 'model_variant',        # assumed normalized
    'Km': 'mileage',                         # assumed normalized
    'Country': 'country'                  
}, axis=1)

### 3.3. Drop other columns

In [77]:
# # columns to drop
# to_drop = [
#     'BodyColorText',            # normalised into color
#     'DriveTypeText',            # no match in target attributes
#     'MakeText',                 # normalised into make
#     'TransmissionTypeText',     # no match in target attributes
#     'FirstRegMonth',            # no match in target attributes
#     'FirstRegYear',             # no match in target attributes
#     'Ccm',                      # no match in target attributes
#     'Co2EmissionText',          # no match in target attributes
#     'ConsumptionRatingText',    # no match in target attributes
#     'ConsumptionTotalText',     # no match in target attributes
#     'Doors',                    # no match in target attributes
#     'FuelTypeText',             # no match in target attributes
#     'Hp',                       # no match in target attributes
#     'InteriorColorText',        # no match in target attributes
#     'Properties',               # no match in target attributes
#     'Seats',                    # no match in target attributes
#     'TypeName',                 # redundant
#     'BodyColorText_new',        # used for color normalisation
#     'BodyColorText_trans'       # used for color normalisation
# ]

# drop automatically cols that are unmatched
cols_to_drop = []
for col in data_rn.columns:
    if col not in data_tar.columns:
        cols_to_drop.append(col)
        

data_rn = data_rn.drop(columns=cols_to_drop)

data_rn

### 3.4. Append normalised supplier dataset to target dataset

Produce an integrated supplier data set. Replace nan with null to make it consistent

In [25]:
data_rn = data_rn.reset_index(drop=True) # reset the ID index

In [43]:
data_comb = data_tar.append(data_rn, ignore_index=True)
data_comb = data_comb.fillna('null')

### 3.5. Save whole project as an xls file according to task description

In [44]:
# load preprocessed file
file_prepro = './output/preprocessing/preprocessing.csv'
df_prepro = pd.read_csv(file_prepro, index_col=0)

# load normalised file
file_norm = './output/normalisation/normalisation.csv'
df_norm = pd.read_csv(file_norm, index_col=0)

# combined datafile
df_comb = data_comb
df_comb

,carType,color,condition,currency,drive,city,country,make,manufacture_year,mileage,mileage_unit,model,model_variant,price_on_request,type,zip,manufacture_month,fuel_consumption_unit
0,Convertible / Roadster,White,Used,USD,LHD,Zuzwil,CH,Toyota,1983,0,kilometer,Celica,2800 i Supra,False,car,null,3,l_km_consumption
1,Convertible / Roadster,Other,Original Condition,USD,LHD,London,GB,Ferrari,2001,0,mile,550,null,True,car,null,null,null
2,Convertible / Roadster,White,Used,USD,LHD,Scotts Valley,US,Porsche,1989,0,mile,"911 ""G""",null,True,car,null,null,null
3,Convertible / Roadster,Blue,Used,USD,LHD,London,GB,Rolls-Royce,1961,0,kilometer,Silver Cloud II,null,False,car,null,null,null
4,Convertible / Roadster,Black,Original Condition,USD,LHD,Hong Kong,HK,Gumpert,2010,0,kilometer,Apollo,Apollo S 800hp,False,car,null,null,null
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8400,Limousine,White,Occasion,null,null,Zuzwil,CH,Mercedes-Benz,null,102000,null,S 65 AMG,S 65 AMG L,null,null,null,null,null
8401,Limousine,White,Occasion,null,null,Zuzwil,CH,BMW,null,39700,null,M5,M5,null,null,null,null,null
8402,Limousine,White,Occasion,null,null,Zuzwil,CH,Mercedes-Benz,null,99000,null,A 150,A 150 Classic,null,null,null,null,null
8403,Coupé,White,Occasion,null,null,Porrentruy,CH,Lamborghini,null,5900,null,null,Reventon Coupé,null,null,null,null,null
8404,Kombi,White,Occasion,null,null,Zuzwil,CH,Audi,null,55000,null,RS6,RS6 Avant quattro,null,null,null,null,null

In [50]:
def apply_autofilter(writer, n_rows, n_cols, sheet_name):
    """
    Applies an autofilter to the columns based on the sheetname.
    """
    # Get the xlsxwriter objects from the dataframe writer object.
    workbook  = writer.book
    worksheet = writer.sheets[sheet_name]
    # Apply the autofilter based on the dimensions of the dataframe.
    worksheet.autofilter(0, 0, n_rows, n_cols)
    
    
path_output_xls = "test.xlsx"
with pd.ExcelWriter(path_output_xls, engine = 'xlsxwriter') as writer:  
    sheet_name = 'Pre-processing'
    df_prepro.to_excel(writer, sheet_name=sheet_name)
    n_rows, n_cols = df_prepro.shape[0], df_prepro.shape[1]
    apply_autofilter(writer, n_rows, n_cols, sheet_name)
    
    sheet_name = 'Normalisation'
    df_norm.to_excel(writer, sheet_name=sheet_name)
    n_rows, n_cols = df_norm.shape[0], df_norm.shape[1]
    apply_autofilter(writer, n_rows, n_cols, sheet_name)
    
    sheet_name = 'Integration'
    df_comb.to_excel(writer, sheet_name=sheet_name, index=None)    
    n_rows, n_cols = df_comb.shape[0], df_comb.shape[1]
    apply_autofilter(writer, n_rows, n_cols, sheet_name)

In [68]:
def test_final_xls(data_tar, df_norm, df_comb):
    """
    Test for the final xls file.
    """
    assert data_tar.shape[0] + df_norm.shape[0] == df_comb.shape[0], "Error in test_final_xls! Number of rows in combined dataset is not equal to number of rows in target dataset plus normalised dataset."
    assert data_tar.shape[1] == df_comb.shape[1], "Error in test_final_xls! Number of columns in combined dataset is not equal to number of columns in combined dataset."

test_final_xls(data_tar, df_norm, df_comb)

In [69]:
test_final_xls(data_tar, df_norm, df_comb.drop(columns=['country'], axis=1))

AssertionError: Error in test_final_xls! Number of columns in combined dataset is not equal to number of columns in combined dataset.

In [63]:
test_final_xls(data_tar, df_norm.drop(df_norm.tail(4).index, axis=0), df_comb)

AssertionError: Error in test_final_xls! Number of rows in combined dataset is not equal to number of rows in target dataset plus normalised dataset.

In [65]:
test_final_xls(data_tar, df_norm, df_comb.drop(df_norm.tail(234).index, axis=0))

AssertionError: Error in test_final_xls! Number of rows in combined dataset is not equal to number of rows in target dataset plus normalised dataset.

In [66]:
test_final_xls(data_tar.drop(df_norm.tail(25).index, axis=0), df_norm, df_comb)

AssertionError: Error in test_final_xls! Number of rows in combined dataset is not equal to number of rows in target dataset plus normalised dataset.

## 4. Check the pipeline

### 4.1 Preprocessing

In [95]:
s1 = './output/preprocessing/preprocessing_0.csv'
s2 = './output/preprocessing/preprocessing.csv'
df_0 = pd.read_csv(s1)
df_1 = pd.read_csv(s2)
df_0.equals(df_1)

True

### 4.4. Normalisation

In [96]:
s1 = './output/normalisation/normalisation_0.csv'
s2 = './output/normalisation/normalisation.csv'
df_0 = pd.read_csv(s1)
df_1 = pd.read_csv(s2)
df_0.equals(df_1)

True

### 4.1 Preprocessing

### 4.3. Integration

In [97]:
s1 = './output/integration/integration_0.csv'
s2 = './output/integration/integration.csv'
df_0 = pd.read_csv(s1)
df_1 = pd.read_csv(s2)
df_0.equals(df_1)

True